<!-- KC REMOVED at set up: Code for integrating CloudFlare's email protection with Hydejack's single page app loading. -->
<!-- KC REMOVED at set up:  Example code for using Matamo as alternative analytics solution. -->
<!-- KC's NOTE: This file is loaded by Hydejack’s _layouts/default.html *after* footer.html. Use it for project-specific additions such as small JS helpers or analytics that must be placed before the closing body tag. -->

<!-- KC's ADDED link: Following suggestion that this location for bringing in a project-specific set of css rules ensures that my project styles load after the primary hydejack theme. This provides a proper cascade where my specifics override the main theme. -->

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!-- KC's ADDED: to set up hCaptcha to catch spam on contact form.  -->

<script src="https://web3forms.com/client/script.js" async defer></script>

<!-- KC ADDED: Web3Forms validator (safe for Hydejack navigation) -->
<script>
const form = document.getElementById("form");
const result = document.getElementById("result");

form.addEventListener("submit", function (e) {
  const formData = new FormData(form);
  e.preventDefault();
  var object = {};
  formData.forEach((value, key) => {
    object[key] = value;
  });
  var json = JSON.stringify(object);
  result.innerHTML = "Please wait...";

  fetch("https://api.web3forms.com/submit", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json"
    },
    body: json
  })
    .then(async (response) => {
      let json = await response.json();
      if (response.status == 200) {
        result.innerHTML = json.message;
        result.classList.remove("text-gray-500");
        result.classList.add("text-green-500");
      } else {
        console.log(response);
        result.innerHTML = json.message;
        result.classList.remove("text-gray-500");
        result.classList.add("text-red-500");
      }
    })
    .catch((error) => {
      console.log(error);
      result.innerHTML = "Something went wrong!";
    })
    .then(function () {
      form.reset();
      setTimeout(() => {
        result.style.display = "none";
      }, 5000);
    });
});
</script>