<!-- KC REMOVED at set up: Code for integrating CloudFlare's email protection with Hydejack's single page app loading. -->
<!-- KC REMOVED at set up:  Example code for using Matamo as alternative analytics solution. -->
<!-- KC's NOTE: This file is loaded by Hydejack’s _layouts/default.html *after* footer.html. Use it for project-specific additions such as small JS helpers or analytics that must be placed before the closing body tag. -->

<!-- KC's ADDED link: Following suggestion that this location for bringing in a project-specific set of css rules ensures that my project styles load after the primary hydejack theme. This provides a proper cascade where my specifics override the main theme. -->

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">