<!-- Add HTML tags here to be included in the head. This file is loaded by Hydejack’s _layouts/default.html before the theme’s own head.html.
	 This is a safe place to add project-specific meta tags, analytics, or preload links. -->
<!-- KC REMOVED: gumroad.com script not used. -->
<!-- Favicon and app icons -->
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
<link rel="icon" href="/assets/icons/favicon.ico" sizes="any">
<link rel="manifest" href="/assets/icons/site.webmanifest">
